
<div style="margin-bottom: 10px;">
    <div class="cardBox mat-elevation-z8" >
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>PIANTE MODAS</mat-card-title>
                <mat-card-subtitle>SUPER PROMO</mat-card-subtitle>
                <img mat-card-sm-image src="./assets/icons/IconePiante.jpeg" alt="Descrição da imagem" 
                style="height: 70px; width: 55px;">
            </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            {{longText}}
            <div class="botaoNotif">
                <a  href="https://www.piante.com.br" target="_blank">
                <button mat-raised-button>VER NO SITE</button>
                </a>
            </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>