
  <div class="botao">
    <img src="./assets/icons/nomePiante.png" alt="Descrição da imagem" style="height: 300px; width: 260px;">
  </div>

  <div class="botao">
    <a  href="https://www.piante.com.br" >
      <button mat-raised-button style="
      background-color: rgba(203, 162, 145, 1);
    width: 200px;">PIANTE.COM</button>
    </a>
  </div>
  
  <div class="botao">
    <a  href="https://www.instagram.com/piante.pijamas" >
      <button mat-raised-button style="
      background-color: rgba(203, 162, 145, 1); 
    width: 200px;">INSTAGRAM</button>
    </a>
  </div>



  <div class="botao">
    <button mat-raised-button routerLink="/notifications" 
    routerLinkActive="ativo" style="
    background-color: rgba(203, 162, 145, 1);
    width: 200px;">NOTIFICAÇÕESs</button>
  </div>

  
  