
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.botaoNotif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}